.testClass {
    position: relative;
    z-index: 100;
    font-family: "Inter";
    width: 5px;
    height: 5px;
    position: relative;
    border: 1px solid silver;
    // border-bottom: 0;
    // border-right: 0;
    padding: 8px;

    &::before {
        content: "";
        position: absolute;
        width: 7px;
        height: 7px;
        cursor: pointer;
        // background: red;
        top: -4px;
        left: -4px;
        border-radius: 50%;
    }

    // &::after {
    //   content: "";
    //   position: absolute;
    //   background: red;
    //   width: 33px;
    //   height: 2px;
    //   top: 8px;
    //   left: -7px;
    //   transform: rotate(45deg);
    // }

    &:hover::before {
        background: blue;
    }
}

.reset {
    border: 1px solid transparent;
}

.playerType {
    &::before {
        background: blue !important;
    }
}

.opponentType {
    &::before {
        background: red !important;
        z-index: 142;
    }
}

.emptyType {
    &::before {
        // background: blueviolet !important;
    }
}

.blockedType {
    &::before {
        background: silver !important;
    }
}

.capturingBottomRight {
    position: relative;
    z-index: -1;
    transform: rotate(45deg);
    position: absolute;
    width: 33px;
    height: 1px;
    left: -8px;
    background: black;
}

.capturingBottomLeft {
    position: relative;
    z-index: -1;
    transform: rotate(-45deg);
    position: absolute;
    width: 33px;
    height: 1px;
    left: -26px;
    background: black;
}

.capturingBottom {
    position: relative;
    z-index: -1;
    position: absolute;
    width: 2px;
    height: 24px;
    top: -3px;
    left: -2px;
    background-color: black;
}

.capturingRight {
    position: relative;
    z-index: -1;
    transform: rotate(90deg);
    position: absolute;
    width: 2px;
    height: 24px;
    top: -13px;
    // left: -2px;
    background-color: black;
}
